py3env
venv
scr
tmp
scratch/
!api_key.txt
conf/config.txt
conf/jobprofiles/bibliography/Default/Default_titles.txt
!scripts/lib/CmdFlesh.jar
!scripts/IBMcloud/*
scripts/lib/KindleGen
scripts/lib/googler
scripts/out.xml
scripts/cookies.txt
scripts/output.xml
!local-data/seeds/
!local-data/seeds/history/.gitignore
!local-data/logs/uuids/.gitignore
!local-data/bibliography/robots/default//.gitignore
!local-data/bibliography/imprints/pagekicker/.gitignore
!local-data/bibliography/yaml/.gitignore
local-data/seeds/
*~
*.pyc
*.swp
*.save
lib/OCRA_OCRB_fonts/
lib/alchemyapi_python/
lib/bottlenose/
lib/epubcheck-3.0/
lib/gephi/
lib/google-trends.php
lib/imagemagick-fonts.pl
lib/imagemagick/
lib/montage.sh
lib/pstill_dist/
lib/show_fonts.sh
lib/tika-app.jar
lib/wikiquote-fortune/
lib/xml2csv-conv.bat
lib/xml2csv-conv.jar
