py3env
venv
*~
api_key.txt
conf/config.txt
conf/jobprofiles/bibliography/Default/Default_titles.txt
!scripts/lib/CmdFlesh.jar
!scripts/IBMcloud
scratch/
sshto21co.sh
output.xml
out.txt
cookies.txt
scr
tmp
*.pyc
*~
*.swp
*.save
!local-data/seeds/
local-data/seeds/*
scripts/out.xml
scripts/cookies.txt
scripts/output.xml
