py3env
venv
scr
tmp
scratch/
!api_key.txt
conf/config.txt
conf/jobprofiles/bibliography/Default/Default_titles.txt
!scripts/lib/CmdFlesh.jar
!scripts/IBMcloud/*
scripts/lib/KindleGen
scripts/lib/googler
scripts/out.xml
scripts/cookies.txt
scripts/output.xml
!local-data/content_collections//.gitignore
!local-data/seeds/
!local-data/seeds/history/.gitignore
!local-data/logs/uuids/.gitignore
!local-data/bibliography/robots/default//.gitignore
!local-data/bibliography/imprints/pagekicker/.gitignore
!local-data/bibliography/yaml/.gitignore
local-data/seeds/
*~
*.pyc
*.swp
*.save
scripts/lib/OCRA_OCRB_fonts/
scripts/lib/alchemyapi_python/
scripts/lib/bottlenose/
scripts/lib/epubcheck-3.0/
scripts/lib/gephi/
scripts/lib/google-trends.php
scripts/lib/imagemagick-fonts.pl
scripts/lib/imagemagick/
scripts/lib/montage.sh
scripts/lib/pstill_dist/
scripts/lib/show_fonts.sh
scripts/lib/tika-app.jar
scripts/lib/wikiquote-fortune/
scripts/lib/xml2csv-conv.bat
scripts/lib/xml2csv-conv.jar
scripts/lib/stanford*
#*wapack*
conf/partsofthebook/Appendix_E_AGuideToWritingAnEffectiveExecutiveSummary.pdf
conf/partsofthebook/USN_GuideToWritingAnEffectiveExecutiveSummaryp4-5.pdf
scripts/voice/chatbot_scenario.jpg
scripts/voice/chatbot_scenario.pdf
scripts/voice/chatbot_scenario1.jpg
scripts/voice/chatbot_scenario2.jpg
doc/booktype_creation.html
doc/booktype_creation.pdf
.DS_Store
scripts/lib/IBMCloud/examples/configuration.txt
