#assumes Python 3.5.2
arrow==0.8.0
base58==0.2.3
beautifulsoup4==4.5.1
click==6.6
decorator==4.0.10
docker-py==1.8.0
flake8==3.0.4
Flask==0.10.1
funcsigs==1.0.2
future==0.15.2
healthcheck==1.3.1
itsdangerous==0.24
Jinja2==2.8
jsonrpcclient==2.0.1
jsonrpcserver==3.1.1
jsonschema==2.5.1
MarkupSafe==0.23
mccabe==0.5.2
mnemonic==0.13
networkx==1.11
nltk==3.2.1
numpy==1.11.1
path.py==8.2.1
pbkdf2==1.3
pbr==1.10.0
pexpect==4.2.1
protobuf==3.0.0a3
psutil==4.3.0
ptyprocess==0.5.1
py==1.4.31
pyaes==1.6.0
pycodestyle==2.0.0
pyflakes==1.2.3
pysolr==3.5.0
pytest==3.0.2
python-dateutil==2.5.3
PyYAML==3.12
requests==2.11.1
scikit-learn==0.17.1
scipy==0.18.1
sha256==0.1
six==1.10.0
sklearn==0.0
stevedore==1.17.1
tabulate==0.7.5
two1==3.9.1
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
watson-developer-cloud==0.18.0
websocket-client==0.37.0
Werkzeug==0.11.10
wikipedia==1.4.0
