alabaster==0.7.7
apturl==0.5.2
arrow==0.8.0
Babel==1.3
base58==0.2.3
beautifulsoup4==4.4.1
blinker==1.3
bottlenose==1.0.1
Brlapi==0.6.4
chardet==2.3.0
click==6.6
command-not-found==0.3
cryptography==1.2.3
cycler==0.9.0
decorator==4.0.10
defer==1.0.6
docker-py==1.8.0
docopt==0.6.2
docutils==0.12
feedparser==5.1.3
flake8==3.0.4
Flask==0.11.1
freeze==1.0.10
funcsigs==1.0.2
future==0.15.2
get==0.0.20
healthcheck==1.3.1
html5lib==0.999
httplib2==0.9.1
idna==2.0
ipython==2.4.1
itsdangerous==0.24
jedi==0.9.0
Jinja2==2.8
jsonrpcclient==2.0.1
jsonrpcserver==3.1.1
jsonschema==2.5.1
language-selector==0.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
Markdown==2.6.6
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.5.2
memoized-property==1.0.2
mendeley==0.3.2
mnemonic==0.13
networkx==1.11
nltk==3.2.1
nose==1.3.7
numexpr==2.4.3
numpy==1.11.1
oauthlib==0.7.2
onboard==1.2.0
pandas==0.17.1
path.py==8.2.1
pbkdf2==1.3
pbr==1.10.0
pep8==1.7.0
pexpect==4.2.1
Pillow==3.1.2
post==0.0.12
protobuf==3.0.0a3
psutil==3.4.2
ptyprocess==0.5.1
public==0.0.37
py==1.4.31
pyaes==1.6.0
pyasn1==0.1.9
pycodestyle==2.0.0
pycups==1.9.73
pycurl==7.43.0
pyflakes==1.2.3
Pygments==2.1
pygobject==3.20.0
PyJWT==1.3.0
pyparsing==2.0.3
pysolr==3.5.0
pytest==3.0.2
python-amazon-simple-product-api==2.1.0
python-apt==1.1.0b1
python-dateutil==2.5.3
python-debian==0.1.27
python-systemd==231
pytz==2014.10
pyxdg==0.25
PyYAML==3.12
pyzmq==15.2.0
query-string==0.0.11
remarkable==1.87
reportlab==3.3.0
request==0.0.12
requests==2.11.1
requests-oauthlib==0.4.2
roman==2.0.0
scikit-learn==0.17.1
scipy==0.18.0
sessioninstaller==0.0.0
setupfiles==0.0.13
sha256==0.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
Sphinx==1.3.6
sphinx-rtd-theme==0.1.9
spyder==2.3.8
stevedore==1.17.1
system-service==0.3
tables==3.2.2
tabulate==0.7.5
two1==3.9.1
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
unity-tweak-tool==0.0.7
urllib3==1.13.1
usb-creator==0.3.0
virtualenv==15.0.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
watson-developer-cloud==0.18.0
websocket-client==0.37.0
Werkzeug==0.11.10
wikipedia==1.4.0
xdiagnose==3.8.4.1
xkit==0.0.0
